<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <center>
      <h1><%= title %></h1>
      <form action="/purchase">
        <table>
          <tr>
            <td>
              <select name="productName">
                <option name="" id="">--Select Product--</option>
                <option name="Suit" id="">Suit</option>
                <option name="Jeans" id="">Jeans</option>
                <option name="Shirt" id="">Shirt</option>
                <option name="T-Shirt" id="">T-Shirt</option>
              </select>
            </td>
            <td>
              <input
                type="number"
                name="Enter Quantity"
                value="qty"
                placeholder="Enter Quantity"
              />
            </td>
          </tr>
        </table>
        <br />
        <input type="submit" value="Submit" style="cursor: pointer" />
      </form>
      <br /><br />
      <h1>Product Name : <%= pn %></h1>
      <h2>Error : <%= error %></h2>
      <h1>Rate : <%= rate %></h1>
      <h1>Quantity : <%= qty %></h1>
      <h1>Total Amount : <%= amt %></h1>
    </center>
  </body>
</html>
