<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
  </head>
  <body>
    <center>
      <h1><%= title %></h1>
      <form action="/purchase/checkout">
        <table>
          <tr>
            <td>
              <b>Select Product : </b>
            </td>
            <td>
              <select name="productName">
                <option>--Select--</option>
                <option>Suit</option>
                <option>Jeans</option>
                <option>Shirt</option>
                <option>T-Shirt</option>
              </select>
            </td>
          </tr>
          <td><b>Enter Quantity : </b></td>
          <td><input type="number" name="qty" id="qty" /></td>
        </table>
        <br />
        <input type="submit" value="Submit" style="cursor: pointer" />
      </form>
      <br /><br />
      <h1 style="color: rgb(139, 60, 0)"><%= productName %></h1>
      <h2 style="color: darkmagenta;">Rate : <%= rate %> || Quantity : <%= qty %></h2>
      <h1 style="color: green">Total Amount : <%= amount %></h1>
    </center>
  </body>
</html>
